:root {
  --primary-color: red;
  --second-color:orange;
  --third-color: white;  
  --smaller-measure: 1rem;
  --small-measure: 1.5rem;
  --medium-measure: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: orange;
  padding: .8rem;
  color: #fff;
  position: fixed;
  width: 100%;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: Rubik Doodle Shadow;
}

header nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

header nav li a {
  color: #fff;
  text-decoration: none;
  font-family: Rubik Doodle Shadow;
}

header nav li a:hover {
  color: var(--primary-color);
  transition: .6s;
}

#beaches {
  padding-top: 2rem;
}

h2 {
  text-align: center;
  color: orange;
  padding-top: 7rem;
}

section {
  width: 100%;
}

section #first-beach {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  padding-top: 1rem;
}

section #containers-beach p {
  width: 650px;
  padding-top: 1rem;
}

#first-beach img {  
  height: 500px ;
  width: 650px;
  border-radius: 2rem;
}

#contact {
  padding: var(--medium-measure);
  color: var(--primary-color);
  width: 100%;
}

section .container {
  color: var(--second-color);
  margin: 2rem;  
}

section .container-store {  
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 8rem;
}

.store-information {
  padding-top: 8rem;
}

h3 {
  padding-bottom: 4rem;
}

section img {
  margin-right: var(--small-measure);
}

section p {
  margin-bottom: var(--medium-measure);  
  text-align: center;
  color: var(--fourth-color);
}

section address {
  color: #000;
}

.brands-list img {
  height: var(--small-measure);
  margin-left: 8rem;  
}

.brands-list li {
  display: inline;  
}

h4 {
  margin-bottom: var(--smaller-measure);
}

.social-links img {
  height: var(--small-measure);
  margin-right: 3rem;
}

.social-links li {
  display: inline;
}

#contact .containers {
  display: block;
}

.social-links li a {
  text-decoration: none;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
}

form input, form textarea, form button {
  display: block;
  width: 20rem;
  margin-bottom: .8rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #b5b0b0;
}

form textarea {
  resize: none;
  border-radius: .5rem;
}

form button {
  font-family: Rubik Doodle Shadow;
  background-color: var(--second-color);
  color: var(--third-color);
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-color);
  transition: .6s;
}

input:focus, textarea:focus {
  outline-color: var(--second-color);
}

footer {
  font-family: Rubik Doodle Shadow;
  background-color: var(--second-color);
  color: white;  
  padding: var(--small-measure);
  text-align: right;  
}
